{% extends "pbase.html" %}

{% block content %}
    <div class="main">

        <a href="{{ backurl }}">&lt;&lt; back</a>
        <ul>
            <ul>
                <img border="0" alt="" src="{{ media_url }}{{ slika.image.name }}" width="600" />
                <br />
                <div class="title">{{ slika.name }}, Ocjena: {{ slika.ocjena }}</div>
                <br />
                Komentari:
                {% for ocjena in ocjene %}
                    <div>{{ ocjena.komentar }}</div>
                {% endfor %}
                <br />
                Zadnje ocjene:
                {% for zadnji in zadnje %}
                    <div>{{ zadnji.ocjena }}</div>
                {% endfor %}
                <form action="{% url 'image' slika.pk %}" method="post">{% csrf_token %}
                    <ul>
                        {{ form.as_ul }}
                    </ul>
                    <input type="submit" value="Izračunaj" />
                </form>
            </ul>
        </ul>

    </div>

{% endblock %}