{% extends "pbase.html" %}
{% block content %}
	<div class="main">
		<form action="{% url 'main' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
			{{form}}
			<input type="hidden" name="action" value="Upload">
			<input type="submit" value="Upload" />
		</form>

		<form action="{% url 'main' %}" name="ApplyForm" method="post">{% csrf_token %}
			Sort:
			<select name="sort">
				<option value="ocjena" {% if prm.sort == "ocjena" %}selected{% endif %}>ocjena</option>
				<option value="unos" {% if prm.sort == "unos" %}selected{% endif %}>unos</option>
			</select>
			<input type="hidden" name="action" value="Apply">
			<input type="submit" value="Apply" />
		</form>
		<ul>
			{% for ocjen in ocjena %}
				<div>{{ ocjen.image }}, {{ ocjen.ocjena }}</div>
			{% endfor %}
		</ul>
		<!-- Albums  -->
		<ul>
			{% for slika in slike.object_list %}
				<a href="{% url 'image' slika.pk %}"><img border="0" alt="" src="{{ media_url }}{{ slika.thumbnail2.name }}" /></a>
				<div class="title">{{ slika.name }}, {{ slika }}---{{ slika.pk }}, ({{ slika.ocjena }})</div>
			{% endfor %}
		</ul>
		<!-- Next/Prev page links  -->
		{% if slike.object_list and slike.paginator.num_pages > 1 %}
		<div class="pagination">
			<span class="step-links">
				{% if slike.has_previous %}
					<a href= "?page={{ slike.previous_page_number }}">previous &lt;&lt; </a>
				{% endif %}

				<span class="current">
					&nbsp;Page {{ slike.number }} of {{ slike.paginator.num_pages }}
				</span>

				{% if slike.has_next %}
					<a href="?page={{ slike.next_page_number }}"> &gt;&gt; next</a>
				{% endif %}
			</span>
		</div>
		{% endif %}
	</div>
{% endblock %}